<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="property.Image1" class="card-img-top" src="https://angular-upload-files-2023-2024.s3.amazonaws.com/properties2023/{{property.Image1}}">
        <img *ngIf="!property.Image1" class="card-img-top" src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/default_house.png">
      </div>
      <div class="card-body">
        
        <h2 class="card-title" *ngIf="property.SellRent == 1">{{property.Name}} - For Sale</h2>
        <h2 class="card-title" *ngIf="property.SellRent == 2">{{property.Name}} - For Rent</h2>
        <div>
            <h6 *ngIf="property.SellRent == 1"> AED{{property.Price}} / 3-6 year Plans Available</h6>
            <h6 *ngIf="property.SellRent == 1">{{property.BHK}} bedroom {{property.PType}}</h6>
            <h6 *ngIf="property.SellRent == 2"> AED{{property.Price}} / 4 cheques payments</h6>
            <h6 *ngIf="property.SellRent == 2">{{property.BHK}} bedroom {{property.PType}}</h6> 
        </div>
        <div>
           <strong>in {{property.City}}</strong>
        </div> <hr>
        <div>
            <strong>Build Area: </strong>
            {{property.BuiltArea}} Sqft
        </div>

        <div>
            <strong>Carpet Area: </strong>
            {{property.CarpetArea}} Sqft
        </div>
        <div>
            <strong>Furnishing Type: </strong>
            {{property.FType}}
        </div>
        <div>
          <strong>Posted on: </strong>
          {{property.PostedOn | date: 'mediumDate' }}
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary" (click)="addLike($event.target)">{{likes}} Likes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 p-0">
    <div class="tab-panel">
      <tabset *ngIf="visable2" class="member-tabset">

        <tab heading="Overview" [active]="currentTabId === 0">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{property.Name}}</p>
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <p>{{property.FloorNo}} floor</p>
                  </div>

                  <div class="heading">
                    <strong>Total Number of Floors</strong>
                    <p>{{property.TotalFloor}} floors</p>
                </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <p>{{property.AOP}} yaers</p>
                  </div>

                  <div class="heading">
                      <strong>Available moving date</strong>
                      <p style="color: red;  font-size: 1.5rem">{{property.PA | date: 'mediumDate' }}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance</strong>
                      <p>{{property.MainEntrance}}</p>
                  </div>

                  <div class="heading">
                      <strong>Gated Community</strong>
                      <p>{{property.Gated}}</p>
                  </div>

                  <div class="heading">
                      <strong>Security Deposit</strong>
                      <p>{{property.Security}}AED/Once</p>
                  </div>
                  <div class="heading">
                      <strong>Maintenance</strong>
                      <p>{{property.Maintenance}}AED/Yearly</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">

                      <strong>Building amenities include:</strong><br><br>
                        
                        <i class="fas fa-chart-area"aria-hidden="true" 
                          style="font-size: 30px;" >
                        </i>
                        &nbsp; &nbsp;
                        <strong>{{property.BuiltArea}} Sqft</strong>&nbsp; &nbsp;

                        <i class="fas fa-bed" aria-hidden="true" 
                          style="font-size: 30px;" >
                        </i> 
                        &nbsp; &nbsp;  
                        <strong>{{property.BHK}} Beds</strong>&nbsp; &nbsp; 
                        
                        <i class="fa fa-bath" aria-hidden="true" 
                          style="font-size: 30px;" >
                        </i>
                        &nbsp; &nbsp;  
                        <strong>{{property.bathroom}} Baths</strong><br> 
                        
                        <i class="fa-solid fa-square-parking" 
                          style="font-size: 30px;" >
                        </i> 
                        &nbsp; &nbsp; 
                        <strong>{{property.parking}} Parking</strong>&nbsp; &nbsp; 
                        
                        <i class="fas fa-swimming-pool" 
                          style="font-size: 30px;" >
                        </i> 
                        &nbsp; &nbsp; 
                        <strong>{{property.swimmingPool}} Swimming Pool</strong>
                        &nbsp; &nbsp;
                        
                        <br><br>
                        <strong>Places to visit around:</strong><br>

                        <i *ngIf="property.mall=='True'" class="fa-solid fa-store" aria-hidden="true" 
                            style="font-size: 30px; padding-top: 15px;">
                        </i>
                        &nbsp; &nbsp;
                        <strong *ngIf="property.mall=='True'">Shopping Mall</strong>  
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <strong *ngIf="property.mall=='True'"> 5 minutes walk</strong> <br>

                        <i *ngIf="property.zoo=='True'" class="fa-solid fa-hippo" aria-hidden="true" 
                            style="font-size: 30px; padding-top: 15px;" >
                        </i>
                        &nbsp; &nbsp;
                        <strong *ngIf="property.zoo=='True'">Zoo</strong> 
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <strong *ngIf="property.zoo=='True'"> 25 minutes drive</strong> <br>
                        
                        <i *ngIf="property.fastFood=='True'" class="fas fa-hotdog" 
                            style="font-size: 30px; padding-top: 15px;" >
                        </i> 
                        &nbsp; &nbsp;
                        <strong *ngIf="property.fastFood=='True'">Fast Food</strong>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <strong *ngIf="property.fastFood=='True'"> 5-15 minutes walk</strong> <br>
                        
                        <i *ngIf="property.beach=='True'" class="fa-solid fa-umbrella-beach" 
                            style="font-size: 30px; padding-top: 15px;" >
                        </i>
                        &nbsp; &nbsp;
                        <strong *ngIf="property.beach=='True'">Beach</strong>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <strong *ngIf="property.beach=='True'"> 10 minutes drive</strong> <br>
                        
                  </div>
              </div>
            </div>
        </tab>

        <tab heading="Address" [active]="currentTabId === 1">

          <h5 *ngIf="property.theaddress != null">
                    For directions, click on <strong style="color: red;">Directions.</strong>
                    For contact details, click on <strong style="color: red;">View large map</strong></h5><br>
          <div>
            <iframe *ngIf="property.theaddress != null"
              allowfullscreen
              height="450"
              loading="lazy"
              [src]= getMapUrl()
              style="border:0"
              width="720">
            </iframe>
          </div>
          
          <div *ngIf="property.theaddress == null" class="card" style="width: 850px;">
            <strong>Location Map not available, Updating Records...</strong><br>
            <img class="card-img-top" src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/default_house.png"
            style="width: 850px;">
            <div class="card-body">
              <h5 class="card-title">Commission {{property.contactCommission}} AED</h5><br><br>
              <p class="card-text" *ngIf="!property.companyImage">Company Name: {{property.contactCompany}}</p>
              <p class="card-text" *ngIf="!property.companyImage">Contact Name: {{property.contactName}}</p>
              <p class="card-text" *ngIf="!property.companyImage">Company Email: {{property.contactEmail}}</p>
              <p class="card-text" *ngIf="!property.companyImage">Company Number: {{property.contactNumber}}</p>
            </div>
          </div>
          
        </tab>

        <tab  id="photosTab" heading="Photos" [active]="currentTabId === 2"> 

          <section class="home">

            <div id="carousel" class="carousel slide" data-ride="carousel" loading="lazy">
              <div class="carousel-controls">

                <ol class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active" 
                      style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image1}}')"></li>

                  <li data-target="#carousel" data-slide-to="1" style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image2}}')"></li>
                  <li data-target="#carousel" data-slide-to="2" style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image3}}')"></li>
                  <li data-target="#carousel" data-slide-to="3" style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image4}}')"></li>
                  <li data-target="#carousel" data-slide-to="4" style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image5}}')"></li>
            
                </ol>

                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/left-arrow.svg" alt="Prev"> 
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/right-arrow.svg" alt="Next">
                </a>

              </div>

              <div class="carousel-inner">

                <!-- here we need to make to show original photo-->
                <div id="image1" class="carousel-item active" (click)="showImage()"
                   style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image1}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>

                <div id="image2" class="carousel-item" (click)="showImage()"
                style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image2}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>

                <div id="image3" class="carousel-item" (click)="showImage()"
                style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image3}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>

                <div id="image4" class="carousel-item " (click)="showImage()"
                style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image4}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>

                <div id="image5" class="carousel-item " (click)="showImage()"
                style="background-image:url('https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image5}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>
                
              </div>

            </div>

          </section>
          
        </tab>

        <tab  heading="Contact" tabindex="3" [active]="currentTabId === 3">
          
          <h3>You need to login to see seller information!</h3>

          <div *ngIf="token" class="card text-center" style="max-width: 100vw; min-height: 10vw;">
            <div class="card-header">
              <strong> Commission: {{property.contactCommission}} AED </strong>
            </div>
            <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.companyImage}}" class="card-img-top" style= "max-height: 20%;">
            <div class="card-body">
                <p> Seller Name: {{property.contactCompany}}</p>
                <p> Seller Name: {{property.contactName}}</p>
                <p> Seller Contact: {{property.contactNumber}}</p>
                <p> Seller WhatsApp: {{property.contactNumber2}}</p>
                <p> Seller Contact: {{property.contactEmail}}</p>
            </div>
          </div>

          <br><br>
          <strong style="padding-left: 250px;">or you can fill out the form otherwise</strong>
          <div>
            <form [formGroup]="form" action="javascript:void(0)" (submit)="send()" method="POST">
              <input formControlName="from_name" name="from_name" type="text"  placeholder="Full Name"/>
              <input formControlName="from_email" name="from_email" type="text"  placeholder="Email Address"/>
              <input formControlName="subject" name="subject" type="text" placeholder="{{this.property.Name}} in {{this.property.City}}"/>
              <textarea formControlName="message" name="message" type="text" placeholder="Enter your message"></textarea>
              <button id="clickit" class="button1" type="submit">Submit</button>
            </form>
          </div>
          
        </tab>
        
        </tabset>

        <section *ngIf="visable1" class="slider_container">
          <section class="slider">
              <div class="slide one">
                  <img (click)="hideImage()" src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image1}}" alt="">
                 
              </div>
              <div (click)="hideImage()" class="slide two">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image2}}" alt="">
                  
              </div>
              <div (click)="hideImage()" class="slide three">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image3}}" alt="">
                  
              </div>
              <div (click)="hideImage()" class="slide four">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image4}}" alt="">
                  
              </div>
              <div (click)="hideImage()" class="slide five">
                  <img src="https://angular-upload-files-2023-2024.s3.ap-south-1.amazonaws.com/properties2023/{{property.Image5}}" alt="">
                  
              </div>
          </section>
      </section>

    </div>
  </div>
</div>