<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="property.Image1" class="card-img-top" src="assets/images/{{property.Name}}/{{property.Image1}}">
        <img *ngIf="!property.Image1" class="card-img-top" src="assets/images/default_house.png">
      </div>
      <div class="card-body">
        
        <h2 class="card-title" *ngIf="property.SellRent == 1">{{property.Name}} - For Sale</h2>
        <h2 class="card-title" *ngIf="property.SellRent == 2">{{property.Name}} - For Rent</h2>
        <div>
            <h6 *ngIf="property.SellRent == 1"> AED{{property.Price}} / 3-6 year Plans Available</h6>
            <h6 *ngIf="property.SellRent == 1">{{property.BHK}} bedroom {{property.PType}}</h6>
            <h6 *ngIf="property.SellRent == 2"> AED{{property.Price}} / 4 cheques payments</h6>
            <h6 *ngIf="property.SellRent == 2">{{property.BHK}} bedroom {{property.PType}}</h6> 
          </div>
        <div>
           <strong>in {{property.City}}</strong>
        </div> <hr>
        <div>
            <strong>Build Area: </strong>
            {{property.BuiltArea}} Sqft
        </div>

        <div>
            <strong>Carpet Area: </strong>
            {{property.CarpetArea}} Sqft
        </div>
        <div>
            <strong>Furnishing Type: </strong>
            {{property.FType}}
        </div>
        <div>
          <strong>Posted on: </strong>
          {{property.PostedOn | date: 'mediumDate' }}
      </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary" (click)="addLike($event.target)">{{likes}} Likes</button>
          <button class="btn btn-success" (click)="goContacts()">Message</button>
        </div>
      </div>
  </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel">
      <tabset *ngIf="visable2" class="member-tabset">
        <tab heading="Overview" [active]="currentTabId === 0">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{property.Name}}</p>
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <p>{{property.FloorNo}}</p>
                  </div>

                  <div class="heading">
                    <strong>Total Number of Floors</strong>
                    <p>{{property.TotalFloor}} floors</p>
                </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <p>{{property.AOP}} yaers</p>
                  </div>

                  <div class="heading">
                      <strong>Available moving date</strong>
                      <p style="color: red;  font-size: 1.5rem">{{property.PA | date: 'mediumDate' }}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance</strong>
                      <p>{{property.MainEntrance}}</p>
                  </div>

                  <div class="heading">
                      <strong>Gated Community</strong>
                      <p>{{property.Gated}}</p>
                  </div>

                  <div class="heading">
                      <strong>Security Deposit</strong>
                      <p>{{property.Security}}</p>
                  </div>
                  <div class="heading">
                      <strong>Maintenance</strong>
                      <p>{{property.Maintenance}}</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>building amenities include:</strong><br>
                      <pre>{{property.Description}}</pre>
                  </div>
              </div>
            </div>
        </tab>

        <tab heading="Address" [active]="currentTabId === 1">
          <div class="col-sm-12">
            <h1>Address</h1>
            <div class="heading">
                <strong>{{property.Address}}</strong><br/>
                <strong>{{property.Address2}}</strong><br/>
                <strong>{{property.City}}</strong>
            </div>
          </div>
        </tab>

        <tab id="photosTab" heading="Photos" [active]="currentTabId === 2"> 

          <section class="home">

            <div id="carousel" class="carousel slide" data-ride="carousel" loading="lazy">
              <div class="carousel-controls">

                <ol class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active" 
                      style="background-image:url('assets/images/{{property.Name}}/{{property.Image1}}')"></li>

                  <li data-target="#carousel" data-slide-to="1" style="background-image:url('assets/images/{{property.Name}}/{{property.Image2}}')"></li>
                  <li data-target="#carousel" data-slide-to="2" style="background-image:url('assets/images/{{property.Name}}/{{property.Image3}}')"></li>
                  <li data-target="#carousel" data-slide-to="3" style="background-image:url('assets/images/{{property.Name}}/{{property.Image4}}')"></li>
                  <li data-target="#carousel" data-slide-to="4" style="background-image:url('assets/images/{{property.Name}}/{{property.Image5}}')"></li>
            
                </ol>

                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                  <img src="assets/images/left-arrow.svg" alt="Prev"> 
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                  <img src="assets/images/right-arrow.svg" alt="Next">
                </a>

              </div>

              <div class="carousel-inner">

                <!-- here we need to make to show original photo-->
                <div id="image1" class="carousel-item active" (click)="showImage()"
                   style="background-image:url('assets/images/{{property.Name}}/{{property.Image1}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>

                <div id="image2" class="carousel-item" (click)="showImage()"
                style="background-image:url('assets/images/{{property.Name}}/{{property.Image2}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>

                <div id="image3" class="carousel-item" (click)="showImage()"
                style="background-image:url('assets/images/{{property.Name}}/{{property.Image3}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>

                <div id="image4" class="carousel-item " (click)="showImage()"
                style="background-image:url('assets/images/{{property.Name}}/{{property.Image4}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>

                <div id="image5" class="carousel-item " (click)="showImage()"
                style="background-image:url('assets/images/{{property.Name}}/{{property.Image5}}')">
                  <div class="container">
                  
                  <p *ngIf="property.SellRent ==1">For Sale / Price:{{property.Price}}AED</p>
                  <p *ngIf="property.SellRent ==2">For Rent / Price:{{property.Price}}AED</p>
                  </div>
                </div>
                
              </div>

            </div>

          </section>
          
        </tab>

        <tab heading="Contact" [active]="currentTabId === 3">
          <h1>Contact Detail</h1>
          <p>
            This should be restricted area and only registered user should be able to see seller contact details
          </p>

          </tab>
        
        </tabset>

        <section *ngIf="visable1" class="slider_container">
          <section class="slider">
              <div class="slide one">
                  <img (click)="hideImage()" src="assets/images/{{property.Name}}/{{property.Image1}}" alt="">
                 
              </div>
              <div (click)="hideImage()" class="slide two">
                  <img src="assets/images/{{property.Name}}/{{property.Image2}}" alt="">
                  
              </div>
              <div (click)="hideImage()" class="slide three">
                  <img src="assets/images/{{property.Name}}/{{property.Image3}}" alt="">
                  
              </div>
              <div (click)="hideImage()" class="slide four">
                  <img src="assets/images/{{property.Name}}/{{property.Image4}}" alt="">
                  
              </div>
              <div (click)="hideImage()" class="slide four">
                  <img src="assets/images/{{property.Name}}/{{property.Image5}}" alt="">
                  
              </div>
          </section>
      </section>

    </div>
  </div>
</div>


