.card {
    min-height: 600px;
  }
  
  .card img {
    padding: 10px;
    height: 250px;
  }
  
  .card-img-wrapper {
    height: 250px;
  }
  
  .ngx-gallery
  {
    display: inline-block;
    margin-bottom: 1px;
  }

.img-container {
    width: 70%;
    margin-left: 100px;
  }

.img-container img {
    width: 100%;
    height: 70%;
  }

.img-prev{
    margin-top: 10px;
  }

.img-slide{
    display: inline-block;
    width: 24%;
    margin: 0 1px;
    cursor: pointer;
    opacity: 0.4;
  }

.activate{
    border: 2px solid #222;
    opacity: 1;
  }

