node_modules
bin
obj
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
