.photo-control{
    min-height: 50px;
    vertical-align: middle;
    text-align: center;
    border: 1px dashed blue;
    margin: 5px;
    padding-bottom: 40px;
}

.custom-today-class{ background-color:blue; }