.card{
    min-height: 400px;
}

.card-img-wrapper{
    position: relative;
    overflow: hidden;
}

.card-img-wrapper:hover .member-icons{
    bottom: 0;
    opacity: 1;
}

.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
    opacity: .7;
}

.card img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
}

.member-icons{
    opacity: 0;
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.animate{
    transition: all 0.3s ease-in-out;
}