<div class="row">
    
    <div class="shadow-lg col-sm-4 p-1" style="width: 18rem; margin-right: 1rem; margin-bottom: 1rem;">
        <div class="card" style="width: 18rem;">
            <img class="propImage" src="assets/images/default_house.png">
            <div class="card-body p-1">
                <h1>{{ Property.Name }}</h1>
                <h2>{{ Property.Type }}</h2>
                <h3>{{ Property.Price }}</h3>
            </div>
        </div>
    </div>

    <div class="shadow-lg col-sm-4 p-1" style="width: 18rem; margin-right: 1rem; margin-bottom: 1rem;">
        <div class="card" style="width: 18rem;">
            <img class="propImage" src="assets/images/default_house.png">
            <div class="card-body p-1">
                <h1>{{ Property2.Name }}</h1>
                <h2>{{ Property2.Type }}</h2>
                <h3>{{ Property2.Price }}</h3>
            </div>
        </div>
    </div>

    <div class="shadow-lg col-sm-4 p-1" style="width: 18rem; margin-right: 1rem; margin-bottom: 1rem;">
        <div class="card" style="width: 18rem;">
            <img class="propImage" src="assets/images/default_house.png">
            <div class="card-body p-1">
                <h1>{{ Property.Name }}</h1>
                <h2>{{ Property.Type }}</h2>
                <h3>{{ Property.Price }}</h3>
            </div>
        </div>
    </div>

    <div class="shadow-lg col-sm-4 p-1" style="width: 18rem; margin-right: 1rem; margin-bottom: 1rem;">
        <div class="card" style="width: 18rem;">
            <img class="propImage" src="assets/images/default_house.png">
            <div class="card-body p-1">
                <h1>{{ Property2.Name }}</h1>
                <h2>{{ Property2.Type }}</h2>
                <h3>{{ Property2.Price }}</h3>
            </div>
        </div>
    </div>

    <div class="shadow-lg col-sm-4 p-1" style="width: 18rem; margin-right: 1rem; margin-bottom: 1rem;">
        <div class="card" style="width: 18rem;">
            <img class="propImage" src="assets/images/default_house.png">
            <div class="card-body p-1">
                <h1>{{ Property.Name }}</h1>
                <h2>{{ Property.Type }}</h2>
                <h3>{{ Property.Price }}</h3>
            </div>
        </div>
    </div>

    <div class="shadow-lg col-sm-4 p-1" style="width: 18rem; margin-right: 1rem; margin-bottom: 1rem;">
        <div class="card" style="width: 18rem;">
            <img class="propImage" src="assets/images/default_house.png">
            <div class="card-body p-1">
                <h1>{{ Property2.Name }}</h1>
                <h2>{{ Property2.Type }}</h2>
                <h3>{{ Property2.Price }}</h3>
            </div>
        </div>
    </div>
    

</div>