
        <div class="card">

            <div class="card-img-wrapper">

                <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image}}.png" />
                <img *ngIf="!property.Image" class="card-img-top" src="assets/images/default_house.png" />

                <ul class="list-inline text-center member-icons animate">
                    <li class="list-inline-item">
                        <button class="btn btn-primary" routerLink="/property-detail/{{property.id}}"><i class="far fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-primary"><i class="far fa-address-book"></i></button>
                    </li>
                </ul>

            </div>

            <div class="card-body p-1">
                <h4>{{ property.Name }}</h4>
                <h5>{{ property.Type }}</h5>
                <h6>{{ property.Price }}</h6>
            </div>

        </div>
