<!-- <div class="content">
  <input (change)="onChangeFile($event)" type="file">
  <br>
  <br>
  <button type="button" (click)="handleSendFile()" >Send file</button>
</div> -->

<input (change)="onImagePicked($event)" placeholder="Upload Image" type="file" />
   <button type="button" (click)="onImageUpload()">Upload Image</button>

    <div *ngIf="imageUrl">
     Preview Image from AWS
     <br />
     <img width="200px" src="https://angular-upload-files.s3.amazonaws.com/{{ imageUrl }}" >
    </div>